#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "mirotalk"
name = "MiroTalk"
description.en = "Real-Time Video Conferences Up to 8k and 60fps"
description.fr = "Vidéoconférences en temps réel jusqu'à 8k et 60fps"

version = "2026.02.24~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "AGPL-3.0"
website = "https://meet.no42.org/"
demo = "https://meet.no42.org/"
admindoc = "https://docs.mirotalk.com/"
code = "https://github.com/miroslavpejic85/mirotalk"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "500M"
ram.build = "500M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/miroslavpejic85/mirotalk/archive/505c7b0cfb22d329db5133c8810f155018beb093.tar.gz"
    sha256 = "dadd07eeb2930328055d9606127cf607c46a837a0db3cbb617032e9cec501d4e"
    autoupdate.upstream = "https://github.com/miroslavpejic85/mirotalk/"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.nodejs]
    version = "22"
