#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "mirotalk"
name = "MiroTalk"
description.en = "Real-Time Video Conferences Up to 8k and 60fps"
description.fr = "Vidéoconférences en temps réel jusqu'à 8k et 60fps"

version = "2025.08.22~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "AGPL-3.0"
website = "https://meet.no42.org/"
demo = "https://meet.no42.org/"
admindoc = "https://docs.mirotalk.com/"
code = "https://github.com/miroslavpejic85/mirotalk"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "500M"
ram.build = "500M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/miroslavpejic85/mirotalk/archive/f587824668924e9f2afc8931e1c656e6dd91898f.tar.gz"
    sha256 = "a8107a64e420db9d96ac82fff44eb0deef6ec20b31fd224d5696d6c77f1f43f8"
    autoupdate.upstream = "https://github.com/miroslavpejic85/mirotalk/"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.nodejs]
    version = "18"
